/** @format */

.trendIntro {
  display: flex;
  align-items: center;
}

.trendContribute {
  cursor: pointer;
  border-radius: 0.5rem;
  transition: all 0.2s ease-in-out;
}

.trendContribute:hover {
  transform: scale(0.93);
  box-shadow: 2px 2px 13px -3px rgba(0, 0, 0, 0.25);
}

.number {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  letter-spacing: 0.12em;
  color: rgba(0, 0, 0, 0.25);
}

.author {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #000000;
  margin-bottom: 0;
  margin-left: 15px;
}

.trendContent {
  padding-left: 59px;
}

.topic {
  font-family: Roboto;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: #000000;
}

.comment {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #000000;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(0, 19.8rem));
  row-gap: 0;
  column-gap: 24px;
}
