/** @format */

.gridContainer {
  width: 1000px;
  margin: 0 auto;
  @media screen and (min-width: 1281px) {
    width: 1000px;
  }
  @media screen and (max-width: 1280px) {
    width: 100%;
  }
  @media screen and (max-width: 1024px) {
    width: 626px;
  }
  @media screen and (max-width: 768px) {
    width: 100%;
  }
}

.facultyListTitle {
  margin-top: 32px;
  width: 100%;
  padding: 7px 0;
  font-size: 24px;
  font-family: Roboto;
  font-weight: 400;
  font-style: normal;
  display: inline-block;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    background-color: #32b260;
    width: 100% !important;
    height: 2px;
    bottom: 0;
    left: 0;
    margin-top: 6px;
  }
}

.grid {
  display: grid;
  grid-template-columns: calc(50% - (20px * 1 / 2)) calc(50% - (20px * 1 / 2));
  grid-column-gap: 20px;
  margin-top: 30px;
}

@media screen and (max-width: 1024px) {
  .grid {
    display: block;
  }
}

.facultyBtn {
  background-color: #f4f4f4;
  border-radius: 8px;
  padding: 19px 30px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #000000;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  &:not(:last-child) {
    margin-bottom: 1rem;
  }
}
// Contribution
.contributionContainer {
  margin: 30px auto 60px;
  h3 {
    font-size: 24px;
    border-bottom: 2px solid #32b260;
    padding-bottom: 10px;
  }
}
.contributionList {
  margin-top: 20px;
  .cardContribution {
    position: relative;
    border: none;
    box-shadow: 2px 2px 13px -3px rgba(0, 0, 0, 0.25);
    .cardOverlay {
      position: absolute;
      top: 0;
      border-radius: 6px;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.62);
      z-index: 1;
      opacity: 0;
      transition: all 0.5s;
    }
    .cardDownloadButton {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 2;
      width: 65px;
      height: 65px;
      border-radius: 50%;
      background: #32b260;
      transform: translate(-50%, -50%);
      border: none;
      opacity: 0;
      transition: all 0.5s;
      &:hover {
        cursor: pointer;
      }
    }
    &:hover {
      .cardOverlay,
      .cardDownloadButton {
        opacity: 1;
      }
    }
  }
}
.showmore {
  button {
    width: 129px;
    height: 40px;
    background: #32b260;
    border-radius: 6px;
    color: white;
    border: none;
    font-size: 18px;
  }
}
.selectedItem {
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  padding: 14px 16px;
  background: white;
  width: 350px;
  height: 60px;
  box-shadow: 2px 2px 13px -3px rgba(0, 0, 0, 0.25);
  p {
    margin-bottom: 0;
    margin-top: 5px;
  }
  .groupButton {
    .fileDown {
      margin-right: 1.25rem;
    }
    .fileDown,
    .arrow {
      border-radius: 50%;
      border: none;
      width: 35px;
      height: 35px;
      background: none;
      transition: all 0.5s;
      &:active {
        background: rgb(216, 215, 215);
      }
      &:hover {
        cursor: pointer;
      }
      &:focus {
        outline: none;
      }
    }
    .arrow {
      padding-bottom: 5px;
    }
  }
}
.rotate {
  transition: all 0.4s;
  transform: rotate(180deg);
}
.selectedItem {
  position: fixed;
  bottom: 12rem;
  right: 7.5rem;
  z-index: 10;
}
.selectedItemHide {
  display: none;
}
.dropdownContainerHide {
  display: none;
}
.dropdownContainer {
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 100%;
  transition: all 0.5s;
  h4 {
    text-align: center;
    font-size: 14px;
    background: #32b260;
    color: #ffffff;
    padding: 8px 0 10px;
    margin-bottom: 0;
  }
  .dropdownItemContainer {
    width: 100%;
    max-height: 18rem !important;
    background: white;
    overflow: auto;
    border: 1px solid #e4e4e4;
    .dropDownItem {
      display: flex;
      justify-content: space-between;
      padding: 19px 10px;
      box-shadow: inset 0px -1px 0px #e4e4e4;
      .close {
        border: none;
        background: none;
        &:focus {
          outline: none;
        }
        &:hover {
          cursor: pointer;
        }
      }
    }
    &::-webkit-scrollbar {
      width: 10px;
    }
    &::-webkit-scrollbar-thumb {
      background: #32b260;
      border-radius: 20px;
    }
    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
  }
}
@media screen and (max-width: 1024px) {
  .contributionList {
    margin: 20px 100px;
  }
  .selectedItem {
    width: 344px;
    bottom: 5rem;
    right: 9.5rem;
  }
}
@media screen and (max-width: 768px) {
  .contributionList {
    margin: 20px;
  }
  .selectedItem {
    width: 298px;
    bottom: 5rem;
    right: 4.5rem;
  }
}
@media screen and (min-width: 376px) and (max-width: 414px) {
  .selectedItem {
    width: 282px;
    bottom: 1rem;
    right: 4rem;
  }
}
@media screen and (max-width: 375px) {
  .selectedItem {
    width: 279px;
    bottom: 1rem;
    right: 3rem;
  }
}
