.container {
    width: 1140px;
    @media screen and (max-width: 1280px) {
        width: 1000px;
        padding: 0;
    }
    @media screen and (max-width: 1024px) {
        width: 918px;
    }
    @media screen and (max-width: 768px) {
        width: 658px;
    }
    @media screen and (max-width: 656px) {
        width: 420px;
    }

    @media screen and (min-width: 375px) and (max-width: 414px) {
        width: 317px;
    }
    @media screen and (max-width: 374px) {
        width: 317px;
    }
}

.gridContainer {
    width: 1140px;
    margin: 0 auto;
    @media screen and (min-width: 1281px) {
        width: 1000px;
    }
    @media screen and (max-width: 1280px) {
        width: 1000px;
    }
    @media screen and (max-width: 1024px) {
        width: 658px;
    }
    @media screen and (max-width: 656px) {
        width: 316.8px;
    }
}

.facultyListTitle {
    margin-top: 32px;
    width: 100%;
    padding: 7px 0;
    font-size: 24px;
    font-family: Roboto;
    font-weight: 400;
    font-style: normal;
    display: inline-block;
    position: relative;
    &::after {
        content: "";
        position: absolute;
        background-color: #32b260;
        width: 100% !important;
        height: 2px;
        bottom: 0;
        left: 0;
        margin-top: 6px;
    }
}

.grid {
    display: grid;
    grid-template-columns: calc(50% - (20px * 1 / 2)) calc(50% - (20px * 1 / 2));
    grid-column-gap: 20px;
}

.facultyBtn {
    background-color: #f4f4f4;
    border-radius: 8px;
    padding: 19px 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #000000;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    &:not(:last-child) {
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 1024px) {
    .grid {
        display: block;
    }
}
