/** @format */

.wrapper {
  min-width: 20rem;
  margin: 0 auto;
  border-left: 1px solid #32b260;
  border-right: 1px solid #32b260;
}

.container {
  position: relative;
  height: 25.375rem;
  padding: 1rem 1.5rem;
  overflow: scroll;
}

.header {
  background-color: #32b260;
  color: white;
  text-align: center;
  padding: 0.75rem 1rem;
}

.avatar {
  width: 2.8125rem;
  height: 2.8125rem;
}

.communication {
  display: flex;
  margin-bottom: 1.5rem;
}

.communication.right {
  justify-content: flex-start;
  flex-direction: row-reverse;
}

.communication:last-child {
  margin-bottom: none;
}

.content {
  margin-left: 0.5rem;
}

.content.right {
  margin-right: 0.5rem;
}

.author {
  font-size: 0.875rem;
  margin-bottom: 0.5rem;
}

.author.right {
  text-align: right;
}

.message {
  font-size: 1rem;
  padding: 1rem 1.125rem;
  border: 1px solid black;
  border-radius: 0 0.75rem 0.75rem 0.75rem;
}

.message.right {
  border-radius: 0.75rem 0 0.75rem 0.75rem;
}

@media (min-width: 1024px) {
  .wrapper {
    min-width: 24rem;
  }
}
