/** @format */

.wrapper {
  padding: 0;
}

.userTitle {
  font-family: Montserrat;
  font-weight: 600;
  font-style: normal;
  font-size: 40px;
}
.createBtn {
  background-color: #6c5dd3;
  color: #ffffff;
  padding: 14px 37px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  font-family: Inter;
  font-weight: 600;
  font-style: normal;
  font-size: 14px;
}
.email{
  color:#808191;
  font-weight: 600;
  font-size: .8125rem;
}
.tableWrap {
  opacity: 1;
  max-width: 73rem;
  margin-left: 19rem;
}
.tableWrap.load {
  opacity: 0.4;
  pointer-events: none;
}

.table {
  width: 100%;
}

.filter {
  display: flex;
  justify-content: space-between;
}

.search {
  width: 100%;
  height: 4rem;
}

.role {
  font-weight:600;
  font-size: .875rem;
  line-height:calc(20/14);
  color:#808191;
}

.head {
  padding: 1.875rem 1.5rem;
}

.listColumn:first-child {
  width: 60%;
}

.dropdown {
  width: fit-content;
}

.username {
  margin-top: 0.5rem;
  font-size:1rem;
  font-weight: 600;
  line-height:calc(19/16);
}

.role{
  
}

.body {
  position: relative;
}

.listItem {
  border-top: 1px solid #e4e4e4;
}

.listItem:last-child {
  border-bottom: 1px solid var(--default-lighter);
}

.listColumn {
  padding: 1.5rem;
}

.listColumn:last-child {
  color: var(--default);
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.edit,
.del {
  position: relative;
  text-align: center;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  padding: 0.3rem;
  color: var(--default);
  transition: all 0.1s ease-in;
}
.dialogUpdate {
  margin: 1.75rem auto;
}
.button {
  background: none;
}
.modalDelete,
.modalDisable {
  background: #be0e62;
  color: white;
}
.modalDeleteClose {
  background: white;
  color: #be0e62;
  border: 1px solid #be0e62;
}
.modalDisable {
  margin-right: 16rem !important;
}
.edit.disabled,
.del.disabled {
  opacity: 0.7;
  pointer-events: none;
}

.edit.disabled:hover,
.del.disabled:hover {
  cursor: no-drop;
  transform: translateY(0);
  box-shadow: none;
}

.edit.disabled:before,
.del.disabled:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  border: 2px solid white;
  border-radius: 50%;
  border-top-color: var(--primary);
  animation: rotate 2s linear infinite;
}

.edit:hover,
.del:hover {
  transform: translateY(-2px);
  box-shadow: 0 0 1.25rem 0 rgba(0, 0, 0, 0.1);
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.del {
  margin-left: 1.5rem;
}

.notfound {
  position: absolute;
  top: 40%;
  text-align: center;
  width: 100%;
}

.notfoundimg {
  width: 150px;
  height: 150px;
}

.pages {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 1.5rem;
}

.page {
  margin: 0 1rem;
  border: 1px solid #000;
  border-radius: 50%;
  cursor: pointer;
  padding: 0.125rem 0.5rem;
  transition: all 0.3s ease;
}

.page.current,
.page:hover {
  transform: translateY(-20%);
  box-shadow: 0 10px 6px -6px black;
}
